<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stubble.Core" publicKeyToken="adee431b96d79330" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.141" newVersion="1.0.0.141" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>